body{
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  font-family: 'Courier New', Courier, monospace;
}

button {
  height: 50px;
  width: 100px;
  background-color: darkgray;
  color: white;
  border: 5px solid red;
  font-size: large;
  margin-bottom: 20px;
}

#container {
  display: flex;
  margin: 0;
  padding: 0;
  border: 40px solid red;
  flex-wrap: wrap;
  height: 640px;
  width: 640px;
}

.square{
    margin: 0;
    padding: 0;
    border: 0;
    height: 40px;
    width: 40px;
    background-color: lightgray;
}

.paint{
  background-color: black;
}
